/* You can add global styles to this file, and also import other style files */

@charset "utf-8";

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400);

// DGT colors
$color-primary-light: #F7F9FA;
$color-primary-normal: #2b4c7f;
$color-primary-dark: #001029;
$color-background-body: #EEEEEE;
$color-background-root: #F7F9FA;
$color-accent-normal: #91c200;

// DGT measures
$site-max-width: 800px;
$measure-gutter-top: 60px;
$measure-gutter-normal: 5px;
$measure-gutter-large: 10px;
$measure-gutter-xlarge: 20px;
$measure-gutter-xxlarge: 40px;
$measure-gutter-xxxlarge: 80px;
$component-component-border: 1px;
$component-component-normal: 36px;
$measure-font-normal: 1rem;
$measure-font-small: 0.90rem;
$measure-font-large: 1.10rem;

// Override Bulma variables
$primary: $color-primary-normal;
$dark: $color-primary-dark;
$light: $color-primary-light;
$background: $color-background-root;
$link: $color-accent-normal;
$accent: $color-accent-normal;

$family-sans-serif: "Roboto", "Fira Sans", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

body {

  @extend .hero;
  @extend .is-fullheight;

  background-color: $color-background-body;

}

@import './node_modules/bulma/bulma.sass';
