@use "../../styles" as *;

:host {

  @extend .container;
  @extend .has-text-centered;

  padding-top: 10%;

}

.logo {

  @extend .image;
  @extend .container;

  width: 12.5rem;

}

.title {

  @extend .block;
  @extend .is-size-3;

  font-weight: 300;

}

.providers {

  @extend .field;
  @extend .is-grouped;
  @extend .is-grouped-centered;

  margin-top: 2rem;

}

.provider-button {

  @extend .control;
  @extend .level-item;

  margin: 0 !important;
  padding: 10px;

  > button {

    @extend .button;

    width: 200px;
    height: 40px;

    color: $primary;
    background-color: $background;

    border: 1px solid $dark;
    border-radius: 0;

  }

}
